body, h1, h2 {
              font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
}
form {
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
img	{
	border:0;
}
            /* Not required for Tabs, just to make this demo look better... */
td {
	font-family: "MS UI Gothic", "Osaka", "Times New Roman", "Time", "serif";
    font-size:12px;
}

.red    { color:#ff0000; }
.blue   { color:#0000ff; }
.orange { color:#ff6600;line-height:1em; }

.titleblock {
/*	background-color: #fffff0 */
	background-color: #fffff0; font-size: 11pt;
	border-bottom:solid 1px #333333;

}
.titleblock_t {
/*	background-color: #fffff0; font-size: 10pt; */
	background-color: #fffff0; font-size: 11pt;
	border-bottom:solid 1px #333333;
}
.titleblock2 { /* 項目名 */
/*	background-color: #FFDE9B; TEXT-ALIGN: center ;FONT-SIZE:11pt; */
	background-color: #FFDE9B; color:#000000; font-size:11pt;
	border-bottom:solid 1px #333333;
	}
.titleblock2b { /* 項目名 未使用 */
	background-color: #FFDE9B; color:#000000; font-size:11pt; 
    font-weight:bold;
/*	background-color: #FFDE9B; color:#0000ff; font-size:11pt; */
	border-bottom:solid 1px #333333;
	}
.titleblock3 {
/*	background-color: #ffcc66;cellPadding:2; FONT-SIZE:11pt; */
	background-color: #ffffff;cellPadding:2; FONT-SIZE:13pt;
	text-align:center;font-weight:bold;
	border-bottom:solid 1px #333333;
}
.letter9 { font-size: 9pt;}



.item {
    margin:0px 0px 0px 0px;
    padding:3px 4px 1px 6px;
    background-color:#FFDE9B;
    color:#660033;
}

.value {
	margin:0px 0px 0px 0px;
	padding:3px 2px 1px 4px;
	background-color: #f0f0f0; /* #EDEDDC; */
	border: 1px none;
	font-size:12px;
        color:#660033;
}
.value_c {
	margin:0px 0px 0px 0px;
	padding:3px 0px 1px 0px;
	background-color: #f0f0f0;
	border: 1px none;
	text-align:center;
        color:#660033;
}


#menu {
    border-width:1px 0px 1px 0px;
    border-style:solid;
    border-color:#c6c6c6;
}
#menu_admin {
    border-width:1px 0px 1px 0px;
    border-style:solid;
    border-color:#c6c6c6;
}

/* Menu button */
#menu .menu_btn{
    text-align:center;
    padding:0px;
    width:130px;
}
#menu_admin .menu_btn{
    text-align:center;
    padding:0px;
    width:145px;
}
.menu_btn a{
    color:#287240;
    text-decoration:none;
    height:20px; /* 36 */
    line-height:190%;
    margin:auto;
    display:block;
    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#c6c6c6;
}
.menu_btn a:hover{
    color:#333 /* ffffff; */
    background-color:#e6e6fa; /*e6e6fa; */
}
#menu .menu_btn_v{
    text-align:center;
    padding:0px;
    width:130px;
}
#menu_admin .menu_btn_v{
    text-align:center;
    padding:0px;
    width:145px;
}
.menu_btn_v a{
    color:#333 /* ffffff; */
    text-decoration:none;
    height:20px; /* 20 */
    line-height:190%;
    margin:auto;
    display:block;
    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#c6c6c6;
    background-color:#e6e6fa; /* e6e6fa; */
}
.menu_btn_kara { /* 2012.12.2 Add */
    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#c6c6c6;
}
.menu_btn_v a:hover{
    color:#333 /* ffffff; */
    background-color:#e6e6fa; /* e6e6fa; */
}

/* 2012.3.5現在 未使用 */
.menu_savebtn{
    color:#287240;
    text-align:center;
    padding:0px;
    width:113px;
    border:none;
}



/**** 変更・確認画面 ****/
.form_button {
    text-align:center;
}
.confirm_title {
    font-weight:bold;
    color:#ff0000;
    text-align:center;
}
.complete_title {
    font-weight:bold;
    text-align:center;
}
.complete {
    font-size:12px;
}

/* 管理ページ */
.indent {
    margin:0px 0px 22px 15px;
}
.valueH {
	margin:0px 0px 0px 0px;
	padding:5px 5px 5px 5px;
	background-color: #FFDE9B; /* #FFDDBB; */
	border: 1px none;
	line-height:130%;
}
.error {
    color:#ff2929;
    font-size:small;
    font-weight:bold;
}

.pager {
    text-align:left;
    margin:3px 20px 3px 0px;
    padding:2px 50px 2px 10px;
    background-color:#f3f3f3;
    border:solid 1px #cccccc;

}
.sub_title {
	font-size:16px;
	font-weight:bold;
	margin:6px 10px;
	padding:6px;
	color:#13367b;
	border-left:#dbdeec solid 12px;
	border-bottom:#dbdeec solid 1px;
}
#box {
	text-align:left;
	width:630px;
	margin-left:auto;margin-right:auto;
}
#box_nl {
	text-align:left;
	width:590px;
	margin-left:auto;margin-right:auto;
}

.grayLine {
	background-color: #cccccc;
	height:1px;
}
.line{text-decoration:underline; }

/* ****************************** */
/* 菊池CSS                        */
/* ****************************** */

.form-left-01 {
	width:130px;
	text-align:left;
	font-size: 13px;
	line-height: 120%;
	font-weight: bold;
	color: #333333;
	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-color: #333333;
	padding: 4px;
}
.form-left-01r {
	width:130px;
	text-align:right;
	font-size: 13px;
	line-height: 120%;
	font-weight: bold;
	color: #333333;
	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-color: #333333;
	padding: 4px;
}

.form-left-02 {
	width:130px;
	text-align:left;
	font-size: 13px;
	line-height: 120%;
	font-weight: bold;
	color: #333333;
	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}

.form-right-02 {
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-width: 1px;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}
.form-right-01 {
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}
.form-right-01b {
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}
.form-mid-01 {
	width:324px ;
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}
.form-mid-01b {
	width:324px ;
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}
.form-mid-02 {
	width:324px ;
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 4px;
}

/* input[type="button"], */
/* input[type="reset"],
input[type="submit"] {
	cursor: pointer; 
    border-radius:5px;
} */
