Order deny,allow
Deny from all

# Linkage
Allow from 122.249.12.246
Allow from 219.121.56.52
Allow from 153.142.14.79
Allow from 153.142.14.81

Allow from 60.45.61.118
Allow from 164.162.0.1
Allow from 221.249.182.82
Allow from 221.249.182.83
Allow from 221.249.182.84
Allow from 221.249.182.85
Allow from 221.249.182.86

# AuthUserFile /opt/home/evs31/webapp/makepdef/.htpasswd
# AuthGroupFile /dev/null
# AuthName "abstract.evs31.org"
# AuthType Basic
# <Limit GET POST PUT>
# require valid-user
# </Limit>
